/*HOME PAGE*/

.contenairglobal {
  margin-top: 4%;
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.contenair1 {
  background-color: rgb(134, 80, 80);
  margin-top: 1%;
  width: 99%;
  padding-bottom: 10%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/*contenaire 1 content */

.grille1 {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  grid-gap: 20px;
  margin-top: 1%;
}

.grid-item1 {
  width: 450px;
  height: 300px;
  background-image: url("../image/image1.png");
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-item2 {
  width: 450px;
  height: 300px;
  background-image: url("../image/image2.jpeg");
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: 30% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-item3 {
  width: 450px;
  height: 300px;
  background-image: url("../image/nikelaylow.jpeg");
  background-size: cover;
  background-position: 50% 40%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  object-fit: cover;
}

/*  contenair 2 content */

.grille2 {
  max-width: 100%;
  margin-top: 8%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item5 {
  width: 680px;
  height: 675px;
  background-image: url("../image/shoot2.jpg");
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-contenair1 {
  width: 680px;
  height: 675px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-left: 50%;
  flex-direction: column;
  display: flex;
}

.grid-item6 {
  width: 692px;
  height: 337px;
  background-image: url("../image/shoot1");
  background-size: cover;
  background-position: 30% 20%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-item7 {
  margin-top: 1%;
  width: 692px;
  height: 337px;
  background-image: url("../image/laylow3.jpg");
  background-size: cover;
  background-position: 30% 60%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grille3 {
  max-width: 100%;
  margin-top: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item8 {
  width: 680px;
  height: 675px;
  background-image: url("../image/shoot2.jpg");
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  object-fit: cover;
}
